@import "./index.styles.scss";

.pageHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
  align-items: center;

  & &__title {
    font-weight: bold;
    font-size: 30px;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.addRowButtons {
  font-size: 11px;
  color: white;
  background-color: $secondary;
  border-width: 1px white;
  border-color: $secondary;
  height: 30px;

  & :hover {
    background-color: $primary;
  }

  &:disabled {
    background-color: #6c5982;
    border: none;

    &.MuiButtonBase-root:disabled {
      cursor: not-allowed;
      pointer-events: auto;
    }
  }
}

.commonPageLayout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.commonDialog {
  &__roof {
    background-color: $primary;
    height: 1rem;
  }

  &__content {
    padding: 20px;
  }

  &__imageWrapper {
    display: flex;
    justify-content: center;

    & img {
      width: 100px;
    }
  }
}

.commonDrawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 350px;

  &__ribbon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    padding: 20px;
    margin-top: 30px;

    & &__title {
      font-size: 20px;
      font-weight: bold;
      color: white;
    }

    & button {
      color: white;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    overflow: auto;
  }

  &__actions {
    display: flex;
    gap: 20px;
    padding: 0 30px;
    justify-content: end;
  }
}
