@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

$primary: #544d91;
$secondary: #243448;
$secondary-hover: #1c2a38;
$accent: #766bb9;
$tertiary: #008080;
// $error: #f30737;
$error: #bb0000;
$success: #009c7a;
$warning: #f1c40f;
$notification: #f30737;

:root {
  font-family: Montserrat, sans-serif;

  ::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    // background: #243448;
    background: #766bb9;
  }

  /* On hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* On active (click) */
  ::-webkit-scrollbar-thumb:active {
    background: #777;
  }

  scrollbar-width: thin;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

// #map {
//   width: 600px;
//   height: 400px;
// }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.notifications {
  background-color: $notification;
  border-radius: 50%;
  min-width: 20px;
  max-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.notificationsLarge {
  background-color: $notification;
  border-radius: 50%;
  // width: 22px;
  // height: 22px;
  min-width: 22px;
  min-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.disclaimer {
  position: absolute;
  font-size: 0.9rem;
  bottom: -47px;

  @media print {
    bottom: -40px;
  }
}
