@import "./index.styles.scss";

.sidebar {
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: width 0.5 ease;
  position: relative;
  background: white;
  box-shadow: 7px 7px 100px #dedede, -7px -7px 100px #e2e2e2;
  transition: 0.3s all ease-out;

  .toggled {
    width: 0px;
  }

  & &__toggleRemove {
    color: $secondary;
    position: absolute;
    right: 20px;
    top: 20px;

    @media (min-width: 1025px) {
      display: none;
    }
  }

  @media (max-width: 1024px) {
    // display: none;
    position: fixed;
    height: 100vh;
    left: 0;
    width: 88px;
    z-index: 2000;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    & img {
      @media (max-width: 1024px) {
        width: 100px;
      }

      width: 150px;
    }
  }

  &__navigation {
    position: relative;
    overflow-x: hidden;
    height: 100%;
    margin-bottom: 30px;

    @media (max-width: 1024px) {
      white-space: nowrap;
    }

    & &__button {
      color: $secondary;
      border-radius: 10px;

      &__icon {
        color: $secondary;
      }
    }

    & &__button.active {
      background-color: $primary;
    }

    & &__subButton {
      color: $secondary;
      border-radius: 10px;
      margin-left: 20px;

      @media (max-width: 1024px) {
        margin-left: 0;
      }

      &__icon {
        color: $secondary;
      }
    }

    & &__subButton.active {
      background-color: $secondary;
    }

    & .active {
      color: white;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  // display: none; /* Initially hidden */
  z-index: 1000; /* Make sure it's above the sidebar */
  pointer-events: none;
}
